<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".php" allowed="false" />
                    <add fileExtension=".phtml" allowed="false" />
                    <add fileExtension=".php5" allowed="false" />
                    <add fileExtension=".asp" allowed="false" />
                    <add fileExtension=".aspx" allowed="false" />
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".cmd" allowed="false" />
                    <add fileExtension=".ps1" allowed="false" />
                    <add fileExtension=".vbs" allowed="false" />
                    <add fileExtension=".sh" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
